* {
    margin: 0px;
    padding:0px;
}







h1.text_index  {
    font-family: 'montserratbold';
    font-size:50px;
    letter-spacing: -0.05em;
}
#oh {
    letter-spacing: -0.10em;
}

h2.text_index {
    font-family:'montserratmedium' ;
    font-size:30px;
}

h3.text_index {
    font-family:'montserratmedium';
    font-size:20px;
}

