



@font-face {
    font-family: 'montserratbold';
    src: url("ressources/font/montbold/montserrat-bold-webfont.eot");
    src: url("ressources/font/montbold/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/montbold/montserrat-bold-webfont.woff2") format("woff2"), url("ressources/font/montbold/montserrat-bold-webfont.woff") format("woff"), url("ressources/font/montbold/tmontserrat-bold-webfont.ttf") format("truetype"), url("ressources/font/montbold/montserrat-bold-webfont.svg#montserratbold") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratmedium';
    src: url("ressources/font/montmedium/montserrat-medium-webfont.eot");
    src: url("ressources/font/montmedium/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/montmedium/montserrat-medium-webfont.woff2") format("woff2"), url("ressources/font/montmedium/montserrat-medium-webfont.woff") format("woff"), url("ressources/font/montmedium/montserrat-medium-webfont.ttf") format("truetype"), url("ressources/font/montmedium/montserrat-medium-webfont.svg#montserratmedium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'cantata_oneregular';
    src: url("ressources/font/Cantata_One/cantataone-regular-webfont.eot");
    src: url("ressources/font/Cantata_One/cantataone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Cantata_One/cantataone-regular-webfont.woff2") format("woff2"), url("ressources/font/Cantata_One/cantataone-regular-webfont.woff") format("woff"), url("ressources/font/Cantata_One/cantataone-regular-webfont.ttf") format("truetype"), url("ressources/font/Cantata_One/cantataone-regular-webfont.svg#cantata_oneregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'croissant_oneregular';
    src: url("ressources/font/Croissant_One/croissantone-regular-webfont.eot");
    src: url("ressources/font/Croissant_One/croissantone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Croissant_One/croissantone-regular-webfont.woff2") format("woff2"), url("ressources/font/Croissant_One/croissantone-regular-webfont.woff") format("woff"), url("ressources/font/Croissant_One/croissantone-regular-webfont.ttf") format("truetype"), url("ressources/font/Croissant_One/croissantone-regular-webfont.svg#croissant_oneregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'dancing_scriptregular';
    src: url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.eot");
    src: url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.woff2") format("woff2"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.woff") format("woff"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.ttf") format("truetype"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.svg#dancing_scriptregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'devonshireregular';
    src: url("ressources/font/Devonshire/devonshire-regular-webfont.eot");
    src: url("ressources/font/Devonshire/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("ressources/font/Devonshire/devonshire-regular-webfont.woff") format("woff"), url("ressources/font/Devonshire/devonshire-regular-webfont.ttf") format("truetype"), url("ressources/font/Devonshire/devonshire-regular-webfont.svg#devonshireregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'kaushan_scriptregular';
    src: url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.eot");
    src: url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.woff2") format("woff2"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.woff") format("woff"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.ttf") format("truetype"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Segoe Print';
    src: url("ressources/font/segoe/SegoePrint.eot");
    src: url("ressources/font/segoe/SegoePrint.eot?#iefix") format("embedded-opentype"), url("ressources/font/segoe/SegoePrint.woff2") format("woff2"), url("ressources/font/segoe/SegoePrint.woff") format("woff"), url("ressources/font/segoe/SegoePrint.ttf") format("truetype"), url("ressources/font/segoe/SegoePrint.svg#SegoePrint") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    /*border: 1px black solid;*/
}
 
/*variables ou map*/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

$shadow: 1px 5px 9px 1px rgba(36, 31, 31, 0.667);
$primary-bg-color:#579c87;
$primary-color:#fdcb46;
$color-lanoen:#4e252a;
$bg-color-lanoen:#fcdfdb;
$primary-size:1rem;
$font-family-lanoen:"devonshireregular";
$font-family-menu:"Segoe Print";

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    min-width: 51%;
    height: 25rem;
    }
}
@mixin sm_bloc_page_menu {
  @media (min-width: #{$screen-sm-min}){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
}

@mixin sm_lanoen {
  @media (min-width: #{$screen-sm-min}){
    margin: 5rem;
    box-shadow: $shadow;
    max-height: 200rem;
}}


// Medium devices
@mixin md_menu {
  @media (min-width: #{$screen-md-min}) {
    min-width: 33%;
    height: 31rem;
    margin: 2rem;

    }
  }

 
// Large devices
@mixin lg_menu {
  @media (min-width: #{$screen-lg-min}) {
    min-width: 33%;
    height: 31rem;
    margin: 2rem;
  }
}

@mixin lg_bloc_page {
  @media (min-width: #{$screen-lg-min}){
    max-width: 1000px;
    margin: auto;
}}


// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    color:yellow;
  }
}



@mixin text_index ($color:$primary-color,$bg-color:$primary-bg-color,$size:primary-size) { 
  display: flex;
  align-items: center;
  background-color: $bg-color;
  font-family: 'montserratbold';
  font-size: $size;
  color:$color;
  width:100%;
  justify-content: center;
}

@mixin a ($color:$primary-color,$bg-color:$primary-bg-color){
  color: $color;
  text-decoration:none;
  background-color:$bg-color ;
}

@mixin menu  {
  
  height: 12rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
  box-shadow: $shadow;
  border-radius: 1rem 1rem;
    p {padding-top: 1rem;
      font-size:1.5rem;
  }
    h2 {font-size:1.7rem;
  }
    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      justify-content: center;
      transition: transform scale(1), opacity (1);
      transition-duration: 1s;
        &:hover {
        transform:scale(1.2);
        opacity:(0.3);
      }
  }
  }

/*liserets ohmyfood  mentions contact*/

html, body {
  height:100%;
}


#oh {
  letter-spacing: -0.10em;
}

.text_index {
  &--titre {
  @include text_index;   
  font-size:3rem;
  height: 5.4rem;
 
  & a {
  @include a;
  }
       
  }}
.index {
  margin-bottom: 1rem;}

footer {
  @include lg_bloc_page
  @include text_index;
  justify-content: space-between;
  bottom:0;
  position: fixed;
  height: 3rem;
  & a {
  @include a;
  }
  & h3 {
    padding:1rem;
  }
}

/*menus de la page index*/

.bloc_page{
  box-shadow: $shadow ;
  margin: auto;
  @include lg_bloc_page
}
 
.bloc_page_menu {
   @include sm_bloc_page_menu;
   
 }

.menu {
  @include menu
  @include sm
  @include md_menu
  @include lg_menu
    /*la note enchantee*/
  &-lanoen {
      background-color: #fcdfdb;
      font-family: $font-family-lanoen;
    .fas {
      font-size:1.6rem;
      background: -webkit-linear-gradient(left, #f15861, #f78f6a );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: fit-content;
      align-self: center;
   }  
   
    h2 {
      
      color:#4e252a;
   } 
    p{
      font-family:$font-family-menu;
      color:#4e252a;
   } 
  }  
    /*le chic a la francaise*/
  &-lechfr {
      font-family: 'croissant_oneregular';
      background-color: #fff5fe;
    h2{
      background: -webkit-linear-gradient(-75deg, #d8852e, #905bfd 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   } 
    p{
      font-family:'cantata_oneregular';
      font-weight: bold;
      color:#c77412;
   } 
  }
  #lechfr_font {
  font-size:1.2rem;
  }
    /*le delice des papilles*/
  &-ledepa {
      font-family: 'dancing_scriptregular';
      background-color: #f9f9f9;
    h2 {
      background: -webkit-linear-gradient(-75deg, #0431df, #0887fb 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p{
      font-family:$font-family-menu;
      color:#0887fb;
    }
  }  
    /*la palette du gout*/
  &-lapago {
    font-family: 'kaushan_scriptregular';
    background-color: #fdfffd;
    h2 {
      background: -webkit-linear-gradient(-75deg, #3d9339, #bfff7e 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      }
    p{font-family:$font-family-menu;
      color:#72bf56;
      }
    }
  }

  /*prochainement */

.footer_bloc_page {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  &--pro a {
    @include text_index;
    @include a;
    height: 3rem;
    width: 15rem;
    border-radius: 0.3rem;
  }
}

/*menu page lanoen*/

main.main {
  display: flex;
  height: 100%;
  justify-content: center;
  height: fit-content;
}

.lanoen{
 @include sm_lanoen
  .enplde, h3{
    padding-bottom: 1rem;
    padding-top: 2rem;
    /*text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: red;*/
    
  }
    font-family:$font-family-menu;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #fcdfdb;
    display: flex;
    flex-direction: column;
    height:1100px;
 
  h1, h2 {
    font-family: $font-family-lanoen;
    color:$color-lanoen;
  }

  .fas{
    background: -webkit-linear-gradient(left, #f15861, #f78f6a );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    align-self: center;
    padding-right: 1rem;
    &_haut{
    padding-top:2.5rem;
    font-size:3rem;
    }
  }
  h3{
    color:$color-lanoen;
    font-size: 1.4rem;
    }
  li {
    display:flex;
    flex-direction: row;
    font-size: 1rem;
    line-height: 1.5rem;
    justify-content: space-between;
    padding-top: 0.8rem;
  .plat {
    color: $color-lanoen;
    text-align: justify;
    margin-right: 2rem;
  }
  .prix {
    align-self: center;
    font-weight: bolder;
    
    &_dessert{
      margin-right: 0;
      }
    }
  }
}

.menu_part {
  display:flex;
  justify-content: space-between;
       
  }

.menu_part_trait {
    width: 12.5rem;
    height: 0.6rem;
    position: relative;
    top: 3.1rem;
}
   
.main_bas {
  display: flex;
  justify-content: center;
  margin-top: 3rem;}


/* le chic a la francaise*/

h3
{
    position: relative;
}

h3:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.3rem;
    bottom: 1rem;
    left: 0;
    background-color: #4e252a;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;;
}

h3:hover:before {
  visibility: visible;
  width: 100%;
  margin:auto;
}


