/*
$breakpoints: (
  $sm: 576px,
  $md: 768px,
  $lg: 992px,
);
// Mixin pour appeler les breakpoint facilement
@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);

        @media screen and (min-width: $value) {
            @content;
        }
    }
}
// Dans le SASS
.block {
  display: none;
  @include bp(lg) {
    display: block;
  }
}

*/
@font-face {
  font-family: "montserratbold";
  src: url("ressources/font/montbold/montserrat-bold-webfont.eot");
  src: url("ressources/font/montbold/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/montbold/montserrat-bold-webfont.woff2") format("woff2"), url("ressources/font/montbold/montserrat-bold-webfont.woff") format("woff"), url("ressources/font/montbold/tmontserrat-bold-webfont.ttf") format("truetype"), url("ressources/font/montbold/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratmedium";
  src: url("ressources/font/montmedium/montserrat-medium-webfont.eot");
  src: url("ressources/font/montmedium/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/montmedium/montserrat-medium-webfont.woff2") format("woff2"), url("ressources/font/montmedium/montserrat-medium-webfont.woff") format("woff"), url("ressources/font/montmedium/montserrat-medium-webfont.ttf") format("truetype"), url("ressources/font/montmedium/montserrat-medium-webfont.svg#montserratmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cantata_oneregular";
  src: url("ressources/font/Cantata_One/cantataone-regular-webfont.eot");
  src: url("ressources/font/Cantata_One/cantataone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Cantata_One/cantataone-regular-webfont.woff2") format("woff2"), url("ressources/font/Cantata_One/cantataone-regular-webfont.woff") format("woff"), url("ressources/font/Cantata_One/cantataone-regular-webfont.ttf") format("truetype"), url("ressources/font/Cantata_One/cantataone-regular-webfont.svg#cantata_oneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissant_oneregular";
  src: url("ressources/font/Croissant_One/croissantone-regular-webfont.eot");
  src: url("ressources/font/Croissant_One/croissantone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Croissant_One/croissantone-regular-webfont.woff2") format("woff2"), url("ressources/font/Croissant_One/croissantone-regular-webfont.woff") format("woff"), url("ressources/font/Croissant_One/croissantone-regular-webfont.ttf") format("truetype"), url("ressources/font/Croissant_One/croissantone-regular-webfont.svg#croissant_oneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing_scriptregular";
  src: url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.eot");
  src: url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.woff2") format("woff2"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.woff") format("woff"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.ttf") format("truetype"), url("ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.svg#dancing_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshireregular";
  src: url("ressources/font/Devonshire/devonshire-regular-webfont.eot");
  src: url("ressources/font/Devonshire/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("ressources/font/Devonshire/devonshire-regular-webfont.woff") format("woff"), url("ressources/font/Devonshire/devonshire-regular-webfont.ttf") format("truetype"), url("ressources/font/Devonshire/devonshire-regular-webfont.svg#devonshireregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.eot");
  src: url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.woff2") format("woff2"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.woff") format("woff"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.ttf") format("truetype"), url("ressources/font/Kaushan_Script/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe Print";
  src: url("ressources/font/segoe/SegoePrint.eot");
  src: url("ressources/font/segoe/SegoePrint.eot?#iefix") format("embedded-opentype"), url("ressources/font/segoe/SegoePrint.woff2") format("woff2"), url("ressources/font/segoe/SegoePrint.woff") format("woff"), url("ressources/font/segoe/SegoePrint.ttf") format("truetype"), url("ressources/font/segoe/SegoePrint.svg#SegoePrint") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  /*border: 1px black solid;*/
}

/*variables ou map*/
/*index menu*/
/*page menu*/
/*liserets ohmyfood  mentions contact*/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

#oh {
  letter-spacing: -0.1em;
}

.text_index--titre {
  display: flex;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "montserratbold";
  font-size: 1rem;
  width: 100%;
  justify-content: center;
  font-size: 3.5rem;
  height: 5.4rem;
}
.text_index--titre a {
  color: #fdcb46;
  text-decoration: none;
  background-color: #579c87;
}

.index {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "montserratbold";
  font-size: 1rem;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  height: 3rem;
}
footer a {
  color: #fdcb46;
  text-decoration: none;
  background-color: #579c87;
}
footer h3 {
  padding: 1rem;
}

.bloc_page_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .bloc_page_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
}

/* page index*/
.menu {
  height: 17vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 5px 9px 1px rgba(36, 31, 31, 0.667);
  border-radius: 1rem 1rem;
  /*la note enchantee*/
  /*le chic a la francaise*/
  /*le delice des papilles*/
  /*la palette du gout*/
}
.menu p {
  padding-top: 1rem;
  font-size: 1.5rem;
}
.menu h2 {
  font-size: 1.7rem;
}
.menu a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
  transition: transform scale(1), opacity 1;
  transition-duration: 1s;
}
.menu a:hover {
  transform: scale(1.2);
  opacity: 0.3;
}
@media (min-width: 576px) {
  .menu {
    width: 37%;
    height: 36vh;
    margin: 1rem;
  }
}
@media (min-width: 768px) {
  .menu {
    width: 32%;
    height: 40vh;
    margin: 1.5rem;
  }
}
@media (min-width: 992px) {
  .menu {
    width: 30%;
    height: 52vh;
    margin: 2rem;
  }
}
.menu-lanoen {
  background-color: #fcdfdb;
  font-family: "devonshireregular";
}
.menu-lanoen .fas {
  font-size: 1.6rem;
  background: -webkit-linear-gradient(left, #f15861, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  align-self: center;
}
.menu-lanoen h2 {
  color: #4e252a;
}
.menu-lanoen p {
  font-family: "Segoe Print";
  color: #4e252a;
}
.menu-lechfr {
  font-family: "croissant_oneregular";
  background-color: #fff5fe;
}
.menu-lechfr h2 {
  background: -webkit-linear-gradient(-75deg, #d8852e, #905bfd 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-lechfr p {
  font-family: "cantata_oneregular";
  font-weight: bold;
  color: #d8852e;
}
.menu #lechfr_font {
  font-size: 1.2rem;
}
.menu-ledepa {
  font-family: "dancing_scriptregular";
  background-color: #edefef;
}
.menu-ledepa h2 {
  background: -webkit-linear-gradient(-75deg, #0431df, #0887fb 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-ledepa p {
  font-family: "Segoe Print";
  color: #0887fb;
}
.menu-lapago {
  font-family: "kaushan_scriptregular";
  background-color: #fdfffd;
}
.menu-lapago h2 {
  background: -webkit-linear-gradient(-75deg, #3d9339, #bfff7e 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-lapago p {
  color: #72bf56;
}

/*prochainement */
.footer_bloc_page {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.footer_bloc_page--pro a {
  display: flex;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "montserratbold";
  font-size: 1rem;
  width: 100%;
  justify-content: center;
  color: #fdcb46;
  text-decoration: none;
  background-color: #579c87;
  height: 3rem;
  width: 15rem;
  border-radius: 0.3rem;
}
.footer_bloc_page--pro a .fas-circle {
  font-size: 0.25rem;
}

/*menu page lanoen*/
.main_page {
  display: flex;
  height: 100%;
  justify-content: center;
  height: fit-content;
}
@media (min-width: 576px) {
  .main_page {
    margin-top: 2rem;
  }
}

.lanoen {
  color: #4e252a;
  background: #fcdfdb;
  font-family: "devonshireregular";
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /*que lanoen*/
}
@media (min-width: 992px) {
  .lanoen {
    max-width: 650px;
    height: 100%;
    margin: auto;
  }
}
.lanoen h2 {
  margin-bottom: 3rem;
}
.lanoen .fas {
  background: -webkit-linear-gradient(left, #f15861, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  align-self: center;
  padding-right: 1rem;
}
.lanoen .fas_haut {
  padding-top: 2.5rem;
  font-size: 3rem;
}
.lanoen h3 {
  font-size: 1.2rem;
}
.lanoen li {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-content: space-between;
  padding-top: 0.8rem;
}
.lanoen li .plat {
  text-align: justify;
  margin-right: 2rem;
}
.lanoen li .prix {
  align-self: center;
  font-weight: bolder;
}
.lanoen li .prix_dessert {
  margin-right: 0;
}
.lanoen .menu_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.lanoen .main_bas {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.lanoen h3 {
  position: relative;
}
.lanoen h3:before {
  content: "";
  position: absolute;
  background-color: #4e252a;
  width: 0%;
  height: 0.3rem;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.lanoen h3:hover:before {
  width: 100%;
  margin: auto;
}
.lanoen_trait {
  background-image: url("ressources/images/lanoen/lanoengauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.lanoen_trait_rev {
  background-image: url("ressources/images/lanoen/lanoengauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotatey(180deg);
}
.lanoen_section {
  font-family: "Segoe Print";
}
.lanoen h2 {
  font-size: 2.5rem;
}

.lapago {
  color: #72bf56;
  background: #fdfffd;
  font-family: "kaushan_scriptregular";
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /*que lanoen*/
}
@media (min-width: 992px) {
  .lapago {
    max-width: 650px;
    height: 100%;
    margin: auto;
  }
}
.lapago h2 {
  margin-bottom: 3rem;
}
.lapago .fas {
  background: -webkit-linear-gradient(left, #f15861, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  align-self: center;
  padding-right: 1rem;
}
.lapago .fas_haut {
  padding-top: 2.5rem;
  font-size: 3rem;
}
.lapago h3 {
  font-size: 1.2rem;
}
.lapago li {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-content: space-between;
  padding-top: 0.8rem;
}
.lapago li .plat {
  text-align: justify;
  margin-right: 2rem;
}
.lapago li .prix {
  align-self: center;
  font-weight: bolder;
}
.lapago li .prix_dessert {
  margin-right: 0;
}
.lapago .menu_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.lapago .main_bas {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.lapago h3 {
  position: relative;
}
.lapago h3:before {
  content: "";
  position: absolute;
  background-color: #72bf56;
  width: 0%;
  height: 0.3rem;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.lapago h3:hover:before {
  width: 100%;
  margin: auto;
}
.lapago_trait {
  background-image: url("ressources/images/lapago/lapagogauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.lapago_trait_rev {
  background-image: url("ressources/images/lapago/lapagogauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotatey(180deg);
}
.lapago_section {
  color: black;
  font-family: "Segoe Print";
}
.lapago h2 {
  font-size: 3rem;
}

.ledepa {
  color: #0887fb;
  background: #edefef;
  font-family: "dancing_scriptregular";
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /*que lanoen*/
}
@media (min-width: 992px) {
  .ledepa {
    max-width: 650px;
    height: 100%;
    margin: auto;
  }
}
.ledepa h2 {
  margin-bottom: 3rem;
}
.ledepa .fas {
  background: -webkit-linear-gradient(left, #f15861, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  align-self: center;
  padding-right: 1rem;
}
.ledepa .fas_haut {
  padding-top: 2.5rem;
  font-size: 3rem;
}
.ledepa h3 {
  font-size: 1.2rem;
}
.ledepa li {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-content: space-between;
  padding-top: 0.8rem;
}
.ledepa li .plat {
  text-align: justify;
  margin-right: 2rem;
}
.ledepa li .prix {
  align-self: center;
  font-weight: bolder;
}
.ledepa li .prix_dessert {
  margin-right: 0;
}
.ledepa .menu_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.ledepa .main_bas {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.ledepa h3 {
  position: relative;
}
.ledepa h3:before {
  content: "";
  position: absolute;
  background-color: #0887fb;
  width: 0%;
  height: 0.3rem;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.ledepa h3:hover:before {
  width: 100%;
  margin: auto;
}
.ledepa_trait {
  background-image: url("ressources/images/ledepa/ledepagauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ledepa_trait_rev {
  background-image: url("ressources/images/ledepa/ledepagauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotatey(180deg);
}
.ledepa_section {
  color: black;
  font-family: "Segoe Print";
}
.ledepa h2 {
  font-size: 2.5rem;
}

.lechfr {
  color: #d8852e;
  background: #fff5fe;
  font-family: "croissant_oneregular";
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /*que lanoen*/
}
@media (min-width: 992px) {
  .lechfr {
    max-width: 650px;
    height: 100%;
    margin: auto;
  }
}
.lechfr h2 {
  margin-bottom: 3rem;
}
.lechfr .fas {
  background: -webkit-linear-gradient(left, #f15861, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  align-self: center;
  padding-right: 1rem;
}
.lechfr .fas_haut {
  padding-top: 2.5rem;
  font-size: 3rem;
}
.lechfr h3 {
  font-size: 1.2rem;
}
.lechfr li {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-content: space-between;
  padding-top: 0.8rem;
}
.lechfr li .plat {
  text-align: justify;
  margin-right: 2rem;
}
.lechfr li .prix {
  align-self: center;
  font-weight: bolder;
}
.lechfr li .prix_dessert {
  margin-right: 0;
}
.lechfr .menu_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.lechfr .main_bas {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.lechfr h3 {
  position: relative;
}
.lechfr h3:before {
  content: "";
  position: absolute;
  background-color: #d8852e;
  width: 0%;
  height: 0.3rem;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.lechfr h3:hover:before {
  width: 100%;
  margin: auto;
}
.lechfr_trait {
  background-image: url("ressources/images/lechfr/lechfrgauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.lechfr_trait_rev {
  background-image: url("ressources/images/lechfr/lechfrgauche1.png");
  width: 32%;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotatey(180deg);
}
.lechfr .lechfr_section {
  font-family: "cantata_oneregular";
}
.lechfr h2 {
  background: -webkit-linear-gradient(-75deg, #d8852e, #905bfd 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}
.lechfr .middle_menu {
  color: #a56799;
}
.lechfr .end_menu {
  color: #6e4ccc;
}

.fas-circle {
  font-size: 0.25rem;
}

/*# sourceMappingURL=smart.css.map */
