* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  /*border: 1px black solid;*/ }

* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

@font-face {
  font-family: 'montserratbold';
  src: url("../ressources/font/montbold/montserrat-bold-webfont.eot");
  src: url("../ressources/font/montbold/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../ressources/font/montbold/montserrat-bold-webfont.woff2") format("woff2"), url("../ressources/font/montbold/montserrat-bold-webfont.woff") format("woff"), url("../ressources/font/montbold/tmontserrat-bold-webfont.ttf") format("truetype"), url("../ressources/font/montbold/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratmedium';
  src: url("../../ressources/font/montmedium/montserrat-medium-webfont.eot");
  src: url("../../ressources/font/montmedium/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../ressources/font/montmedium/montserrat-medium-webfont.woff2") format("woff2"), url("../../ressources/font/montmedium/montserrat-medium-webfont.woff") format("woff"), url("../../ressources/font/montmedium/montserrat-medium-webfont.ttf") format("truetype"), url("../../ressources/font/montmedium/montserrat-medium-webfont.svg#montserratmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cantata_oneregular';
  src: url("../ressources/font/Cantata_One/cantataone-regular-webfont.eot");
  src: url("../ressources/font/Cantata_One/cantataone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../ressources/font/Cantata_One/cantataone-regular-webfont.woff2") format("woff2"), url("../ressources/font/Cantata_One/cantataone-regular-webfont.woff") format("woff"), url("../ressources/font/Cantata_One/cantataone-regular-webfont.ttf") format("truetype"), url("../ressources/font/Cantata_One/cantataone-regular-webfont.svg#cantata_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'croissant_oneregular';
  src: url("../ressources/font/Croissant_One/croissantone-regular-webfont.eot");
  src: url("../ressources/font/Croissant_One/croissantone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../ressources/font/Croissant_One/croissantone-regular-webfont.woff2") format("woff2"), url("../ressources/font/Croissant_One/croissantone-regular-webfont.woff") format("woff"), url("../ressources/font/Croissant_One/croissantone-regular-webfont.ttf") format("truetype"), url("../ressources/font/Croissant_One/croissantone-regular-webfont.svg#croissant_oneregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dancing_scriptregular';
  src: url("../ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.eot");
  src: url("../ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.eot?#iefix") format("embedded-opentype"), url("../ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.woff2") format("woff2"), url("../ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.woff") format("woff"), url("../ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.ttf") format("truetype"), url("../ressources/font/Dancing_Script/dancingscript-variablefont_wght-webfont.svg#dancing_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'devonshireregular';
  src: url("../ressources/font/Devonshire/devonshire-regular-webfont.eot");
  src: url("../ressources/font/Devonshire/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../ressources/font/Devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("../ressources/font/Devonshire/devonshire-regular-webfont.woff") format("woff"), url("../ressources/font/Devonshire/devonshire-regular-webfont.ttf") format("truetype"), url("../ressources/font/Devonshire/devonshire-regular-webfont.svg#devonshireregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'kaushan_scriptregular';
  src: url("../ressources/font/Kaushan_Script/kaushanscript-regular-webfont.eot");
  src: url("../ressources/font/Kaushan_Script/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../ressources/font/Kaushan_Script/kaushanscript-regular-webfont.woff2") format("woff2"), url("../ressources/font/Kaushan_Script/kaushanscript-regular-webfont.woff") format("woff"), url("../ressources/font/Kaushan_Script/kaushanscript-regular-webfont.ttf") format("truetype"), url("../ressources/font/Kaushan_Script/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe Print';
  src: url("../ressources/font/segoe/SegoePrint.eot");
  src: url("../ressources/font/segoe/SegoePrint.eot?#iefix") format("embedded-opentype"), url("../ressources/font/segoe/SegoePrint.woff2") format("woff2"), url("../ressources/font/segoe/SegoePrint.woff") format("woff"), url("../ressources/font/segoe/SegoePrint.ttf") format("truetype"), url("../ressources/font/segoe/SegoePrint.svg#SegoePrint") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*variables ou map*/
/*
$breakpoints: (
  $sm: 576px,
  $md: 768px,
  $lg: 992px,
);
// Mixin pour appeler les breakpoint facilement
@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
         
        @media screen and (min-width: $value) {
            @content;
        }
    }
}
// Dans le SASS
.block {
  display: none;
  @include bp(lg) {
    display: block;
  }
}

*/
@keyframes wriggle {
  0% {
    transform: translate(-1px, 3px) rotate(0deg); }
  20% {
    transform: translate(5px, 0px) rotate(1deg); }
  40% {
    transform: translate(0px, -5px) rotate(0deg); }
  60% {
    transform: translate(-5px, 0px) rotate(1deg); }
  80% {
    transform: translate(0px, -5px) rotate(0deg); }
  100% {
    transform: translate(-5px, 0px) rotate(1deg); } }

@keyframes threepoint {
  10% {
    transform: translatey(-8px) scale(1.4); }
  50% {
    transform: translatey(0px) scale(1); }
  100% {
    transform: translatey -8px scale(1.5); } }

/*liserets ohmyfood  mentions contact*/
#oh {
  letter-spacing: -0.10em; }

.text_index {
  color: #fdcb46;
  text-decoration: none;
  background-color: #579c87; }
  .text_index--titre {
    display: flex;
    align-items: center;
    background-color: #579c87;
    color: #fdcb46;
    font-family: "montserratbold";
    font-size: 1rem;
    width: 100%;
    justify-content: center;
    font-size: 3.3rem;
    height: 5.4rem; }

.index {
  margin-bottom: 1rem; }

footer {
  display: flex;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "montserratbold";
  font-size: 1rem;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  height: 3rem; }
  footer a {
    color: #fdcb46;
    text-decoration: none;
    background-color: #579c87;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    footer a:hover {
      animation: wriggle 200ms 5;
      transform-origin: center; }

.bloc_page_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 576px) {
    .bloc_page_menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-flow: wrap; } }
  @media (min-width: 1050px) {
    .bloc_page_menu {
      margin-left: 9rem;
      margin-right: 9rem; } }

/* page index*/
.menu {
  height: 17vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 5px 9px 1px rgba(36, 31, 31, 0.667);
  border-radius: 1rem 1rem;
  /*3 boucle*/
  /*la note enchantee*/
  /*le chic a la francaise*/
  /*le delice des papilles*/
  /*la palette du gout*/ }
  .menu-lanoen {
    background-color: #fcdfdb;
    font-family: "devonshireregular"; }
  .menu-lechfr {
    background-color: #fff5fe;
    font-family: "croissant_oneregular"; }
  .menu-ledepa {
    background-color: #edefef;
    font-family: "dancing_scriptregular"; }
  .menu-lapago {
    background-color: #fdfffd;
    font-family: "kaushan_scriptregular"; }
  .menu p {
    font-size: 1.5rem; }
  .menu h2 {
    font-size: 1.4rem; }
  .menu a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    justify-content: center;
    transition: transform scale(1), opacity 1;
    transition-duration: 1s; }
    .menu a:hover {
      transform: scale(1.2);
      opacity: 0.3; }
  @media (min-width: 576px) {
    .menu {
      width: 34%;
      height: 36vh;
      margin: 2.4%;
      border-radius: 0; }
      .menu p {
        padding-top: 1rem; } }
  @media (min-width: 768px) {
    .menu {
      width: 30%;
      height: 22rem; } }
  @media (min-width: 1050px) {
    .menu {
      width: 30%;
      height: 28rem; } }
  @media (min-width: 1200px) {
    .menu {
      width: 30%;
      height: 30rem;
      margin: 2rem; } }
  .menu-lanoen .note {
    background-image: url("../ressources/images/lanoen/note.svg");
    width: 100%;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .menu-lanoen h2 {
    color: #4e252a; }
  .menu-lanoen p {
    font-family: "Segoe Print";
    color: #4e252a; }
  .menu-lechfr h2 {
    background: -webkit-linear-gradient(-75deg, #d8852e, #905bfd 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu-lechfr p {
    font-family: 'cantata_oneregular';
    font-weight: bold;
    color: #d8852e; }
  .menu-lechfr #lechfr_font {
    font-size: 1.2rem; }
  .menu-ledepa h2 {
    background: -webkit-linear-gradient(-75deg, #0431df, #0887fb 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu-ledepa p {
    font-family: "Segoe Print";
    color: #0e32de; }
  .menu-lapago h2 {
    background: -webkit-linear-gradient(-75deg, #3d9339, #bfff7e 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .menu-lapago p {
    color: #72bf56; }

/*prochainement */
.footer_bloc_page {
  margin-bottom: 5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center; }
  .footer_bloc_page--pro {
    display: flex;
    align-items: center;
    background-color: #579c87;
    color: #fdcb46;
    font-family: "montserratbold";
    font-size: 1rem;
    width: 100%;
    justify-content: center;
    color: #fdcb46;
    text-decoration: none;
    background-color: #579c87;
    height: 3rem;
    width: 16rem;
    border-radius: 0.3rem;
    font-size: 0.8rem; }
    .footer_bloc_page--pro .point {
      background-image: url("../ressources/images/point.svg");
      width: 1rem;
      height: 0.5rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      margin-bottom: 1rem;
      align-self: flex-end;
      animation: threepoint 1500ms ease-in-out infinite; }
      .footer_bloc_page--pro .point_2 {
        animation-delay: 100ms; }
      .footer_bloc_page--pro .point_3 {
        animation-delay: 200ms; }

/*menu page lanoen*/
.main_page {
  display: flex;
  height: 100%;
  justify-content: center;
  height: fit-content; }
  @media (min-width: 576px) {
    .main_page {
      margin-top: 2rem; } }

.lanoen {
  color: #4e252a;
  background: #fcdfdb;
  font-family: "devonshireregular";
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 5rem; }
  @media (min-width: 1050px) {
    .lanoen {
      width: 750px;
      height: 100%;
      margin: auto; } }
  @media (min-width: 576px) {
    .lanoen li {
      padding-left: 0rem;
      padding-right: 0rem; } }
  .lanoen_titre {
    padding-top: 4rem;
    padding-bottom: 1.5rem; }
  .lanoen .note {
    background-image: url("../ressources/images/lanoen/note.svg");
    width: 100%;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lanoen .note_haut {
      margin-top: 2rem;
      width: 20%;
      height: 6vh;
      align-self: center; }
  .lanoen h3 {
    font-size: 1.2rem; }
  .lanoen ul {
    padding-top: 1rem;
    padding-bottom: 2rem; }
  .lanoen li {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    line-height: 2.5rem;
    justify-content: space-between; }
    .lanoen li .plat {
      text-align: justify;
      margin-right: 0.5rem; }
    .lanoen li .prix {
      align-self: center;
      font-weight: bolder; }
      .lanoen li .prix_dessert {
        margin-right: 0; }
  .lanoen .menu_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
  @media (min-width: 576px) {
    .lanoen .menu_part {
      padding-left: 0rem;
      padding-right: 0rem; } }
  .lanoen .enplde {
    position: relative; }
    .lanoen .enplde:before {
      content: "";
      position: absolute;
      background-color: #4e252a;
      width: 0%;
      height: 0.3rem;
      bottom: -0.3rem;
      left: 0;
      border-radius: 50%;
      transition: all 0.3s ease-in-out; }
    .lanoen .enplde:hover:before {
      width: 100%;
      margin: auto; }
  .lanoen_trait {
    background-image: url("../ressources/images/lanoen/lanoengauche1.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lanoen_trait_rev {
      background-image: url("../ressources/images/lanoen/lanoengauche1.svg");
      width: 32%;
      height: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotatey(180deg); }
  .lanoen_section {
    font-family: "Segoe Print";
    padding-left: 3rem;
    padding-right: 3rem; }
  .lanoen h2 {
    font-size: 2.5rem;
    padding-top: 0; }
    .lanoen h2_bas {
      font-size: 2rem; }
  .lanoen li {
    font-size: 0.9rem; }
  .lanoen .main_bas {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center; }
  .lanoen .note_bas {
    width: 10%; }

.lapago {
  border: 1px #dae0da solid;
  color: #72bf56;
  background: #fdfffd;
  font-family: "kaushan_scriptregular";
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 5rem; }
  .lapago .enplde {
    position: relative; }
    .lapago .enplde:before {
      content: "";
      position: absolute;
      background-color: #72bf56;
      width: 0%;
      height: 0.3rem;
      bottom: -0.3rem;
      left: 0;
      border-radius: 50%;
      transition: all 0.3s ease-in-out; }
    .lapago .enplde:hover:before {
      width: 100%;
      margin: auto; }
  @media (min-width: 1050px) {
    .lapago {
      width: 750px;
      height: 100%;
      margin: auto; } }
  @media (min-width: 576px) {
    .lapago li {
      padding-left: 0rem;
      padding-right: 0rem; } }
  .lapago_titre {
    padding-top: 4rem;
    padding-bottom: 1.5rem; }
  .lapago .note {
    background-image: url("../ressources/images/lanoen/note.svg");
    width: 100%;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lapago .note_haut {
      margin-top: 2rem;
      width: 20%;
      height: 6vh;
      align-self: center; }
  .lapago h3 {
    font-size: 1.2rem; }
  .lapago ul {
    padding-top: 1rem;
    padding-bottom: 2rem; }
  .lapago li {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    line-height: 2.5rem;
    justify-content: space-between; }
    .lapago li .plat {
      text-align: justify;
      margin-right: 0.5rem; }
    .lapago li .prix {
      align-self: center;
      font-weight: bolder; }
      .lapago li .prix_dessert {
        margin-right: 0; }
  .lapago .menu_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
  .lapago_trait {
    background-image: url("../ressources/images/lapago/lapagogauche1.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lapago_trait_rev {
      background-image: url("../ressources/images/lapago/lapagogauche1.svg");
      width: 32%;
      height: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotatey(180deg); }
  .lapago ul {
    padding-right: 3rem;
    padding-left: 3rem; }
  .lapago_section {
    color: black;
    font-family: "Segoe Print";
    margin-top: 2rem; }
  .lapago h2 {
    background: -webkit-linear-gradient(-4deg, #3d923a 20%, #beff80 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem; }

.ledepa {
  color: #0e32de;
  background: #edefef;
  font-family: "dancing_scriptregular";
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 5rem; }
  @media (min-width: 1050px) {
    .ledepa {
      width: 750px;
      height: 100%;
      margin: auto; } }
  @media (min-width: 576px) {
    .ledepa li {
      padding-left: 0rem;
      padding-right: 0rem; } }
  .ledepa_titre {
    padding-top: 4rem;
    padding-bottom: 1.5rem; }
  .ledepa .note {
    background-image: url("../ressources/images/lanoen/note.svg");
    width: 100%;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .ledepa .note_haut {
      margin-top: 2rem;
      width: 20%;
      height: 6vh;
      align-self: center; }
  .ledepa h3 {
    font-size: 1.2rem; }
  .ledepa ul {
    padding-top: 1rem;
    padding-bottom: 2rem; }
  .ledepa li {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    line-height: 2.5rem;
    justify-content: space-between; }
    .ledepa li .plat {
      text-align: justify;
      margin-right: 0.5rem; }
    .ledepa li .prix {
      align-self: center;
      font-weight: bolder; }
      .ledepa li .prix_dessert {
        margin-right: 0; }
  .ledepa .menu_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
  .ledepa .enplde {
    position: relative; }
    .ledepa .enplde:before {
      content: "";
      position: absolute;
      background-color: #0e32de;
      width: 0%;
      height: 0.3rem;
      bottom: -0.3rem;
      left: 0;
      border-radius: 50%;
      transition: all 0.3s ease-in-out; }
    .ledepa .enplde:hover:before {
      width: 100%;
      margin: auto; }
    .ledepa .enplde_mid {
      position: relative; }
      .ledepa .enplde_mid:before {
        content: "";
        position: absolute;
        background-color: #3c8ef2;
        width: 0%;
        height: 0.3rem;
        bottom: -0.3rem;
        left: 0;
        border-radius: 50%;
        transition: all 0.3s ease-in-out; }
      .ledepa .enplde_mid:hover:before {
        width: 100%;
        margin: auto; }
    .ledepa .enplde_bot {
      position: relative; }
      .ledepa .enplde_bot:before {
        content: "";
        position: absolute;
        background-color: #4eaff7;
        width: 0%;
        height: 0.3rem;
        bottom: -0.3rem;
        left: 0;
        border-radius: 50%;
        transition: all 0.3s ease-in-out; }
      .ledepa .enplde_bot:hover:before {
        width: 100%;
        margin: auto; }
  .ledepa_trait {
    background-image: url("../ressources/images/ledepa/ledepagauche1.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .ledepa_trait_rev {
      background-image: url("../ressources/images/ledepa/ledepagauche1.svg");
      width: 32%;
      height: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotatey(180deg); }
  .ledepa_trait_mid {
    background-image: url("../ressources/images/ledepa/ledepagauche1-mid.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .ledepa_trait_rev_mid {
    background-image: url("../ressources/images/ledepa/ledepagauche1-mid.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotatey(180deg); }
  .ledepa_trait_bot {
    background-image: url("../ressources/images/ledepa/ledepagauche1-bot.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .ledepa_trait_rev_bot {
    background-image: url("../ressources/images/ledepa/ledepagauche1-bot.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotatey(180deg); }
  .ledepa ul {
    padding-right: 2rem;
    padding-left: 2rem; }
  .ledepa_section {
    color: black;
    font-family: "Segoe Print";
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem; }
  .ledepa h2 {
    font-size: 3.5rem;
    background: -webkit-linear-gradient(-4deg, #0431df 20%, #0887fb 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.lechfr {
  color: #d8852e;
  background: #fff5fe;
  font-family: "croissant_oneregular";
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 5rem; }
  @media (min-width: 1050px) {
    .lechfr {
      width: 750px;
      height: 100%;
      margin: auto; } }
  @media (min-width: 576px) {
    .lechfr li {
      padding-left: 0rem;
      padding-right: 0rem; } }
  .lechfr_titre {
    padding-top: 4rem;
    padding-bottom: 1.5rem; }
  .lechfr .note {
    background-image: url("../ressources/images/lanoen/note.svg");
    width: 100%;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lechfr .note_haut {
      margin-top: 2rem;
      width: 20%;
      height: 6vh;
      align-self: center; }
  .lechfr h3 {
    font-size: 1.2rem; }
  .lechfr ul {
    padding-top: 1rem;
    padding-bottom: 2rem; }
  .lechfr li {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    line-height: 2.5rem;
    justify-content: space-between; }
    .lechfr li .plat {
      text-align: justify;
      margin-right: 0.5rem; }
    .lechfr li .prix {
      align-self: center;
      font-weight: bolder; }
      .lechfr li .prix_dessert {
        margin-right: 0; }
  .lechfr .menu_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem; }
  .lechfr .enplde {
    position: relative; }
    .lechfr .enplde:before {
      content: "";
      position: absolute;
      background-color: #d8852e;
      width: 0%;
      height: 0.3rem;
      bottom: -0.3rem;
      left: 0;
      border-radius: 50%;
      transition: all 0.3s ease-in-out; }
    .lechfr .enplde:hover:before {
      width: 100%;
      margin: auto; }
    .lechfr .enplde_mid {
      position: relative; }
      .lechfr .enplde_mid:before {
        content: "";
        position: absolute;
        background-color: #a56799;
        width: 0%;
        height: 0.3rem;
        bottom: -0.3rem;
        left: 0;
        border-radius: 50%;
        transition: all 0.3s ease-in-out; }
      .lechfr .enplde_mid:hover:before {
        width: 100%;
        margin: auto; }
    .lechfr .enplde_bot {
      position: relative; }
      .lechfr .enplde_bot:before {
        content: "";
        position: absolute;
        background-color: #6e4ccc;
        width: 0%;
        height: 0.3rem;
        bottom: -0.3rem;
        left: 0;
        border-radius: 50%;
        transition: all 0.3s ease-in-out; }
      .lechfr .enplde_bot:hover:before {
        width: 100%;
        margin: auto; }
  .lechfr_trait {
    background-image: url("../ressources/images/lechfr/lechfrgauche1.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lechfr_trait_rev {
      background-image: url("../ressources/images/lechfr/lechfrgauche1.svg");
      width: 32%;
      height: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotatey(180deg); }
  .lechfr_trait_mid {
    background-image: url("../ressources/images/lechfr/lechfrgauche1_mid.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lechfr_trait_mid_rev {
      background-image: url("../ressources/images/lechfr/lechfrgauche1_mid.svg");
      width: 32%;
      height: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotatey(180deg); }
  .lechfr_trait_bot {
    background-image: url("../ressources/images/lechfr/lechfrgauche1_bot.svg");
    width: 32%;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .lechfr_trait_bot_rev {
      background-image: url("../ressources/images/lechfr/lechfrgauche1_bot.svg");
      width: 32%;
      height: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotatey(180deg); }
  .lechfr ul {
    padding-right: 3rem;
    padding-left: 3rem; }
  .lechfr_section {
    font-family: "cantata_oneregular";
    padding-top: 2rem; }
  .lechfr h2 {
    background: -webkit-linear-gradient(-4deg, #d8852e 20%, #905bfd 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem; }
  .lechfr .middle_menu {
    color: #a56799; }
  .lechfr .end_menu {
    color: #6e4ccc; }
