



@keyframes wriggle {
    0% { 
      transform: translate(-1px, 3px) rotate(0deg); 
    }
    
    20% { 
      transform: translate(5px, 0px) rotate(1deg); 
    }
    
    40% { 
      transform: translate(0px, -5px) rotate(0deg); 
    }
    
    60% { 
      transform: translate(-5px, 0px) rotate(1deg); 
    }
    
    80% {
       transform: translate(0px, -5px) rotate(0deg); 
      
    }
    100% { 
      transform: translate(-5px, 0px) rotate(1deg); 
    }
  }

  @keyframes threepoint {

    10% {
      transform:translatey(-8px) scale(1.4);
     
    }

    50% {
      transform:translatey(0px) scale(1);
      
    }
    
    100% {
      transform:translatey (-8px) scale(1.5) ;
      
    }
    }



    